body {
  background-color: black;
  margin-top: 10px;
  color: white;
  font-size: .9rem; }

.fixedwidth {
  width: 150px;
  display: inline-block; }

.zoom {
  position: absolute;
  bottom: 40px;
  left: 15px; }

.sizesliderlabel {
  color: white;
  margin-bottom: 0;
  font-size: 10px; }

.range {
  line-height: 1; }
  .range input {
    padding-top: 15px;
    height: 1rem; }
  .range .thumb {
    display: none; }

#symbol, #size {
  max-width: 140px; }

.chart {
  position: relative; }
  .chart .log {
    position: absolute;
    left: 15px;
    top: 80px; }
    .chart .log p {
      margin-bottom: -.3rem; }
      .chart .log p.error {
        color: #f93154; }
  .chart .position {
    position: absolute;
    right: 150px;
    top: 15px; }
  .chart .accountinfo {
    position: absolute;
    left: 15px;
    top: 15px; }

.controls {
  width: 100%;
  margin-bottom: 22px;
  position: relative; }
  .controls .buysell {
    display: inline-block;
    position: absolute;
    right: 70px; }
    .controls .buysell span {
      cursor: pointer;
      margin-left: 5px; }
      .controls .buysell span.disabled {
        opacity: 0.1; }

button.order {
  margin: 5px 5px;
  width: 85px;
  font-size: 10px;
  padding: .375rem 0 .3125rem; }

svg {
  width: 100%; }
  svg path {
    fill: none;
    stroke-width: 1; }
    svg path.muted {
      opacity: .2; }
  svg line.spread {
    opacity: .2;
    stroke: white; }
  svg .order.buy {
    stroke: #00b74a; }
  svg .order.sell {
    stroke: #f93154; }
  svg .order line {
    stroke-width: 1; }
  svg .order text {
    cursor: pointer;
    pointer-events: visiblePainted;
    font-size: 10px; }
  svg .ohlcarea {
    cursor: crosshair; }
  svg .cursor {
    display: none; }
    svg .cursor.buy {
      stroke: #00b74a;
      fill: #00b74a; }
    svg .cursor.sell {
      stroke: #f93154;
      fill: #f93154; }
    svg .cursor line {
      stroke-width: 1;
      stroke-dasharray: 5,5; }
    svg .cursor text {
      font-size: 12px;
      stroke: white !important; }
  svg g, svg line {
    pointer-events: none; }
  svg g.tick line {
    opacity: .07; }
  svg .bar line {
    stroke: #f93154; }
  svg .bar.yousen line {
    stroke: #00b74a; }
